/* recent news */
.scroll-container {
  border: 3px solid #154492;
  border-radius: 5px;
  height: 200px;
  overflow: hidden;
  width: 950px;
  margin-top: 5%;
  margin-left: 16%;
  position: relative;
  }
  .scroll-text {
    height: auto;
    text-align: left;
    margin: 5%;
    padding: 5%;
    
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }